.coaches-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 60px;
    gap: var(--item-spacing-80, 80px);

    @media(max-width: 1024px) {
        flex-direction: column;
        padding: 24px 16px;
    }
}

.rc-slider-track,
.rc-slider-tracks {
    height: 6px;
    border-radius: 5px;
    background-color: var(--color-black-solid, #000) !important;
}

.rc-slider-handle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #000;
    margin-top: -5px;
    width: 18px;
    height: 18px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    border: 1px solid var(--color-black-solid, #000);
    background: var(--Color-White, #FFF);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
    opacity: 1;
}

.coaches-left {
    width: 300px;
    border-radius: 16px;
    border: 1px solid var(--BG-grey, #F4F4F4);
    background: #FFF;

    &__header {
        display: flex;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-bottom: 1px solid var(--BG-grey, #F4F4F4);


        .left {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--color-black-solid, #000);
            font-family: "Inter Display";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.08px;
        }

        .right {
            color: var(--skillest-com-torch-red, var(--color-red-55, #FE211D));
            font-family: "Inter Display";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 18px */
            letter-spacing: -0.06px;
        }
    }

    &__item {
        display: flex;
        padding: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;
        border-bottom: 1px solid var(--BG-grey, #F4F4F4);

        .title {
            color: var(--color-black-solid, #000);
            font-family: "Inter Display";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.07px;
        }
    }

    &__title {
        color: var(--color-black-solid, #000);
        font-family: "Inter Display";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.07px;
    }

    &__dropdown {
        position: relative;
        display: flex;
        min-width: var(--width-64, 64px);
        padding: 8px 14px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid var(--color-grey-91, #E5E7EB);
        background: #FFF;
        color: var(--color-black-solid, #000);
        font-family: var(--font-family-Font-1, "Inter Display");
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.06px;
    }

    &__search {
        position: relative;
        display: flex;
        padding: 8px 10px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid var(--color-grey-91, #E5E7EB);
        background: #F6F9FF;

        input {
            border: none;
            outline: none;
            color: var(--color-black-solid, #666);
            font-family: var(--font-family-Font-1, "Inter Display");
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: -0.06px;
            background-color: transparent;
        }
    }

    &__button {
        display: flex;
        min-width: var(--width-64, 64px);
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex: 1 0 0;
        border-radius: 12px;
        border: 1px solid var(--color-grey-91, #E5E7EB);
        background: #FFF;
        white-space: nowrap;
        box-sizing: border-box;

        &.black {
            border: 1px solid var(--color-black-solid, #000);
            background: var(--color-black-solid, #000);
            color: white;
        }
    }

    &__flex-gap-10 {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__slide {
        display: flex;
        position: relative;

        .rc-slider-track {
            background-color: #000;
            height: 6px;
            border-radius: 5px;
            background: var(--color-black-solid, #000);
        }

        .rc-slider-handle {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid #000;
            background: #fff;
            margin-top: -5px;
            width: 18px;
            height: 18px;
            aspect-ratio: 1/1;
            border-radius: 50px;
            border: 1px solid var(--color-black-solid, #000);
            background: var(--Color-White, #FFF);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
        }



        .line {
            position: absolute;
            margin-top: 6px;
            width: 270px;
            z-index: 10;
            height: 6px;
            border-radius: 5px;
            background: var(--color-black-solid, #000);

        }

        .dot {
            z-index: 11;
            width: 18px;
            height: 18px;
            aspect-ratio: 1/1;
            border-radius: 50px;
            border: 1px solid var(--color-black-solid, #000);
            background: var(--Color-White, #FFF);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
        }
    }

    &__radio {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #000929;
        font-family: "Inter Display";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        input[type="radio"] {
            appearance: none;
            -webkit-appearance: none;
            width: 22px;
            height: 22px;
            border: 1px solid #E5E7EB;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
        }

        input[type="radio"]:checked::before {
            content: "";
            border: 1px solid black;
            width: 15px;
            height: 15px;
            background: black;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        input[type="radio"]:checked {
            border: 1px solid black;
        }

    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        color: var(--Text-Black, #2C2D2F);
        font-family: var(--font-family-Font-1, "Inter Display");
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 16.8px */
        letter-spacing: -0.06px;
        width: 100%;

    }
}

.coaches-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;

    &__header {
        display: flex;
        align-items: center;
        gap: 14px;
        align-self: stretch;
        color: var(--onair-today-bunker, var(--color-azure-6, #090F14));
        font-family: var(--font-family-Font-1, "Inter Display");
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 26.4px */
        letter-spacing: -0.44px;

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .title {
            width: 100%;
        }

        .item {
            display: flex;
            padding: 12px 24px;
            align-items: center;
            gap: 14px;
            border-radius: 12px;
            border: var(--stroke-weight-1, 1px) solid var(--color-grey-91, #E5E7EB);
            background: #FFF;
            backdrop-filter: blur(8.5px);
            color: var(--color-azure-34, #4B5563);
            font-family: "Inter Display";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.07px;
            display: flex;
            align-items: center;
            gap: 8px;
            white-space: nowrap;

            input {
                border: none;
                background-color: transparent;
            }
        }
    }

    &__card {
        width: 100%;
        display: flex;
        padding: 24px;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        border-radius: 18px;
        border: 1px solid var(--color-grey-91, #E5E7EB);
        background: #FFF;
        box-shadow: 0 2px 24px 0 rgba(1, 25, 13, 0.06);

        @media(max-width: 768px) {
            flex-direction: column;
        }

        &--image {
            object-fit: cover;
            display: block;
            width: 220px;
            height: 220px;
            flex-shrink: 0;
            aspect-ratio: 1/1;
            border-radius: 16px;
            border: 1px solid rgba(0, 0, 0, 0.10);

        }

        &--container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
            width: 100%;

            .content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                align-self: stretch;
                width: 100%;
                padding-bottom: 16px;

                .top {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: var(--color-black-solid, #000);
                        font-family: var(--font-family-Font-1, "Inter Display");
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                        /* 28.8px */
                        letter-spacing: -0.48px;
                    }

                    .right {
                        display: flex;
                        gap: 10px;

                        @media(max-width: 768px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .feat {
                            display: flex;
                            padding: 4px 12px;
                            justify-content: center;
                            align-items: center;
                            gap: 6px;
                            border-radius: 24px;
                            background: #FFF;
                            font-family: "Inter Display";
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 135%;
                            /* 17.55px */
                            letter-spacing: -0.13px;
                            white-space: nowrap;

                            &.orange {
                                border: 1px solid var(--color-orange-57, #FF6422);
                                color: var(--color-orange-57, #FF6422);

                            }

                            &.blue {
                                border: 1px solid #3A6BFF;
                                color: #3A6BFF;
                            }
                        }
                    }

                    @media(max-width: 1300px) {
                        flex-direction: column;
                        gap: 14px;
                    }
                }

                .rating {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    .item {
                        display: flex;
                        gap: 4px;
                        align-items: flex-start;
                        color: var(--color-black-solid, #000);
                        font-family: "Inter Display";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16px;

                        /* 114.286% */
                        .normal {
                            font-weight: 400;
                        }
                    }

                }

                .desc {
                    color: var(--onair-today-pale-sky, var(--color-azure-45, #637381));
                    font-family: "Inter Display";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 135%;
                    /* 20.25px */
                    letter-spacing: -0.15px;
                }
            }

            .price {
                display: flex;
                padding-top: 14px;
                align-items: flex-end;
                gap: 14px;
                align-self: stretch;

                @media(max-width: 768px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    flex: 1 0 0;

                    .title {
                        color: #000;
                        font-family: "Inter Display";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        /* 114.286% */
                    }

                    .bottom {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        color: #4B5563;
                        text-align: right;
                        font-family: "Inter Display";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 19.2px */
                        letter-spacing: -0.16px;

                        &.green {
                            color: #299F64;
                            text-align: right;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 120%;
                            /* 28.8px */
                            letter-spacing: -0.48px;
                        }
                    }
                }

                .right {
                    display: flex;
                    gap: 14px;
                    white-space: nowrap;

                    @media(max-width: 768px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .btn {
                        border-radius: 12px;
                        border: 1px solid var(--color-grey-91, #E5E7EB);
                        background: #FFF;
                        display: flex;
                        min-width: var(--width-64, 64px);
                        padding: 8px 24px;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        flex: 1 0 0;

                        &.green {
                            background: #2EB16F;
                            color: #FFF;
                        }

                        svg {
                            width: 18px;
                            height: 18px;
                            flex-shrink: 0;
                        }
                    }
                }
            }
        }
    }
}